{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}

    <div>
        <input type="submit" class="btn btn-default" value="{{ 'profile.edit.submit_save'|trans }}" />
    </div>
{{ form_end(form) }}
