{% extends "EnspBundle::base.html.twig" %}
{% block title %}Edycja użytkownika{% endblock %}
{% block bodyHeader %}Edycja użytkownika{% endblock %}
{% block bodyDesc %}{% endblock %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}

{% endblock body %}