
{% extends "EnspBundle::base.html.twig" %}
{% block title %}Profil{% endblock %}
{% block bodyHeader %}Profil{% endblock %}
{% block bodyDesc %}{% endblock %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock body %}
{% block rightbody %}
    <ul class="list-group">
        <a href="{{ path('fos_user_profile_edit') }}" class="list-group-item">Edytuj profil</a>
        <a href="{{ path('fos_user_change_password') }}" class="list-group-item">Zmień hasło</a>
        <a href="{{ path('fos_user_security_logout') }}" class="list-group-item">Wyloguj</a>
    </ul>
{% endblock rightbody %}
