{% trans_default_domain 'FOSUserBundle' %}

    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

        {% if user.name is null or user.surname is null or user.phone is null%}
         <div class="alert alert-danger">
             Wygląda na to, że nie uzupełniłeś wszystkich informacji w profilu użytkownika.<br>
             Zrób to teraz klikając  <a href="{{ path('fos_user_profile_edit') }}" class="alert-link">Edytuj profil</a>!
         </div>
        {% else %}
        <p>{{ 'profile.show.name'|trans }}: {{ user.name }}</p>
        <p>{{ 'profile.show.surname'|trans }}: {{ user.surname }}</p>
        <p>{{ 'profile.show.phone'|trans }}: {{ user.phone }}</p>
        <p>{{ 'profile.show.info'|trans }}: {{ user.info }}</p>
        {% endif %}
    </div>

