{% extends "EnspBundle::base.html.twig" %}
{% block title %}Drużyny{% endblock %}
{% block bodyHeader %}Przegląd zgłoszeń indywidualnych - administrator{% endblock %}
{% block bodyDesc %}{% endblock %}
{% trans_default_domain 'EnspBundle' %}
{% block extraCss %}
    <link href="{{ asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię i Nazwisko</th>
            <th>Kwota do zapłaty</th>
            <th>Hufiec</th>
            <th>User</th>
            <th>St</th>

        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>
                    <a href="{{ path('adm_ensp_team_view', {'teamid':team.id}) }}">
                        {{ team.teamName }}
                    </a>
                </td>
                <td>{{ team.ensignId }}</td>
                <td>{{ team.troops }}</td>
                <td>{{ team.user }}</td>
                <td>{{ team.status }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extraScripts %}
    <script src="{{ asset('js/dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
{% endblock %}
