{% extends "EnspBundle::base.html.twig" %}
{% block title %}Edycja stanu liczebnego{% endblock %}
{% block bodyHeader %}
Zwiększ stan liczebny!
{% endblock %}
{% block bodyDesc %}
{% endblock %}
{% trans_default_domain 'EnspBundle' %}
{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>{{ 'form.appl.countInfo' | trans }}</p>

{% endblock %}


