{% extends "EnspBundle::base.html.twig" %}
{% block title %}Faktury{% endblock %}
{% block bodyHeader %}
    {% if a.id == '' %}
        Dodaj dane do faktury!
    {% else %}
        Uzupełnij dane do faktury!
    {% endif %}
{% endblock %}
{% block bodyDesc %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p><b>Przykładowe dane:</b></p>
    <p>ZHP Chorągiew Warmińsko-Mazurska</p>
    <p>ul. Kopernika 45</p>
    <p>10-512 Olsztyn</p>
    <p>7393591437</p>
    <br>
    <p><b>SPRAWDŹ DANE DO FAKTURY W HUFCU!</b></p>
    <p>W przypadku niepoprawnie wypełnionego formularza faktura nie zostanie wystawiona.</p>
{% endblock %}


