{% extends "EnspBundle::base.html.twig" %}
{% block title %}Osoby{% endblock %}
{% block bodyHeader %}
    {% if a.id == '' and teamid is not defined %}
        Dodaj nową osobę!
    {% elseif a.id == '' and teamid > 9990 %}
        Rejestrujesz się jako Służby
    {% else %}
        Edytuj dane osoby!
    {% endif %}
{% endblock %}
{% block bodyDesc %}
{% endblock %}
{% trans_default_domain 'EnspBundle' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


