{% extends "EnspBundle::base.html.twig" %}
{% block title %}Osoby{% endblock %}
{% block bodyHeader %}
    Rejestracja zgłoszenia jako Instruktor Indywidualny
{% endblock %}
{% block bodyDesc %}
{% endblock %}
{% trans_default_domain 'EnspBundle' %}
{% block body %}
    <p><b>{{ 'form.appl.registrationRulesPrefix'|trans }}<a href="{{ asset('media/regulamin.pdf') }}"
                                                            target="_blank">{{ 'form.appl.registrationRules'|trans }}</a>.</b>
    </p>
    <br>
    <p><b>{{ 'form.appl.prices'|trans }}</b></p>
    <p>{{ 'form.appl.accomodation'|trans }}
    <p>{{ 'form.appl.dinner'|trans }}
    <p>{{ 'form.appl.tshirt'|trans }}
        <br>{{ 'form.appl.tshirtInfo'|trans }}</p>
    <br><br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% endblock %}


