{% extends "EnspBundle::base.html.twig" %}
{% block title %}Drużyny{% endblock %}
{% block bodyHeader %} {{ team.teamName }} {% endblock %}
{% block bodyDesc %}{% endblock %}
{% trans_default_domain 'EnspBundle' %}
{% set totalPersonCount = 0 %}
{% block body %}
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
            Rejestracja
        </div>
        {% if inv is defined and inv is not null %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
                Faktury
            </div>
        {% else %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
                Faktury
            </div>
        {% endif %}

        {% if appl is defined and appl is not null %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">
                Zgłoszenie
            </div>
        {% else %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                Zgłoszenie
            </div>
        {% endif %}

        {% if appl is defined and appl is not null and teamBalance >= appl.advance %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
                Zaliczka
            </div>
        {% elseif appl is defined and appl is not null and inv is defined and inv is not null %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
                Zaliczka
            </div>
        {% else %}
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">
                Zaliczka
            </div>
        {% endif %}

        {% if appl is defined and appl is not null and teamBalance >= appl.advance %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                Edycja stanu
            </div>
        {% else %}
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%">
                Edycja stanu
            </div>
        {% endif %}

        {% if appl is not null and teamBalance >= appl.totalAmount %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">
                Pełna wpłata
            </div>
        {% elseif appl is defined and appl is not null and teamBalance >= appl.advance %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                Pełna wpłata
            </div>
        {% else %}
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%">
                Pełna wpłata
            </div>
        {% endif %}

        {% if appl is not null and teamBalance >= appl.totalAmount %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                Rejestracja osób
            </div>
        {% else %}
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%">
                Rejestracja osób
            </div>
        {% endif %}

        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">
            Zlot
        </div>
    </div>


    {% if app.request.get('msg') == 'updated' %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ 'form.team.updated' | trans }}
        </div>
    {% elseif app.request.get('msg') == 'savedAppl' %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ 'form.appl.saved' | trans | nl2br }}
        </div>
    {% elseif app.request.get('msg') == 'savedInv' %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ 'form.inv.saved' | trans }}
        </div>
    {% endif %}

    <p>
        <a href="{{ path('ensp_team_edit', {'teamid':  team.id  }) }}">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i> {{ 'form.team.edit'|trans }}
            </button>
        </a>

        <!--- Application --->
        {% if appl is defined and appl is null %}
            <a href="{{ path('ensp_app_edit', {'teamid': team.id , 'appid': -1}) }}">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'form.appl.add'|trans }}
                </button>
            </a>
        {% endif %}

        <!--- Application Change --->
        {% if appl is defined and appl is not null and teamBalance >= appl.advance %}
            <a href="{{ path('ensp_app_change', {'teamid': team.id , 'appid': appl.id}) }}">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i> {{ 'form.appl.change'|trans }}
                </button>
            </a>
        {% endif %}


        <!-- Invoice -->
        {% if inv is defined and inv is not null %}
            <a href="{{ path('ensp_inv_edit', {'teamid': team.id , 'invid': inv.id}) }}">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i> {{ 'form.inv.edit'|trans }}
                </button>
            </a>
        {% else %}
            <a href="{{ path('ensp_inv_edit', {'teamid': team.id , 'invid': -1}) }}">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'form.inv.add'|trans }}
                </button>
            </a>
        {% endif %}

        {% if appl is defined and appl is null %}
            <a href="{{ path('ensp_team_del', {'teamid': team.id  }) }}">
                <button type="submit" class="btn btn-danger">
                    <i class="glyphicon glyphicon-minus"></i> {{ 'form.team.del'|trans }}
                </button>
            </a>
        {% endif %}

        <!--- PERSONS --->
        {% if appl is not null and teamBalance >= appl.totalAmount %}
        {% endif %}


    </p>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'form.team.ensign'|trans }}</div>
                <div class="panel-body">
                    {{ team.ensignId }}
                </div>
                <div class="panel-heading">{{ 'form.team.troops'|trans }}</div>
                <div class="panel-body">
                    {{ team.troops }}
                </div>
                <div class="panel-heading">{{ 'form.team.is_grunwaldzka'|trans }}</div>
                <div class="panel-body">
                    {{ team.isGrunwaldzka }}
                </div>
                <div class="panel-heading">{{ 'form.team.created'|trans }}</div>
                <div class="panel-body">
                    {{ team.created|date('Y-m-d H:i:s') }}
                </div>
            </div>

        </div>
        {% if appl is defined and appl is not null %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'form.appl.totalCount'|trans }}</div>
                    <div class="panel-body">
                        {{ appl.totalCount }}
                    </div>
                    <div class="panel-heading">{{ 'form.appl.created'|trans }}</div>
                    <div class="panel-body">
                        {{ appl.created|date('Y-m-d H:i:s') }}
                    </div>
                    <div class="panel-heading">{{ 'form.appl.totalAmount'|trans }}</div>
                    <div class="panel-body">
                        {{ appl.totalAmount }} {{ 'system.currency'|trans }}
                    </div>
                    <div class="panel-heading">{{ 'form.appl.advance'|trans }}</div>
                    <div class="panel-body">
                        {{ appl.advance }} {{ 'system.currency'|trans }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if inv is defined and inv is not null %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'form.inv.fullName'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.fullName }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.street'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.street }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.city'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.city }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.nip'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.nip }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if payments is defined and payments is not null %}
        <h2>{{ 'payments.info'|trans }}</h2>
        <p></p>
        {% if teamBalance is not null and teamBalance != 0 %}
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'payments.amount'|trans }}</th>
                        <th>{{ 'payments.date'|trans }}</th>
                        <th>{{ 'warnings'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pay in payments %}
                        <tr>
                            <td>{{ pay.amount }}</td>
                            <td>{{ pay.PaymentDate|date("d-m-Y") }}</td>
                            <td>{{ pay.information }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <b>{{ 'payments.paymentsSum'|trans }} {{ teamBalance }} zł.</b><br><br><br>
                <p></p>
            </div>
        {% else %}
            <p>{{ 'payments.noPaymentsForTeam'|trans }}</p>
        {% endif %}
    {% endif %}

    {% if persons is not null %}
        <h2>{{ 'personList.info'|trans }}</h2>
        {{ 'ustawa1997'|trans }}


        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'person.nameSurname'|trans }}</th>
                    <th>{{ 'person.pesel'|trans }}</th>
                    <th>{{ 'person.address'|trans }}</th>
                    <th width="10%">{{ 'person.shirtSize'|trans }}</th>
                    <th>{{ 'person.delete'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons %}
                    <tr>
                        {% if person.personType == "S" %}
                            <td>{{ person.firstName }} {{ person.lastName }}</td>
                        {% else %}
                            <td><b>{{ person.grade }} {{ person.firstName }} {{ person.lastName }}</b></td>
                        {% endif %}
                        <td>{{ person.pesel }}</td>
                        <td>{{ person.address }}</td>
                        <td>{{ person.shirtSize }}</td>
                        <td><a href="{{ path('ensp_person_delete', {'teamid': team.id , 'personid': person.id }) }}">
                                <button type="submit" class="btn btn-default">
                                    <i class="glyphicon glyphicon-minus"></i></button>
                            </a></td>
                    </tr>
                    {% set totalPersonCount = totalPersonCount + 1 %}
                {% endfor %}
                </tbody>
            </table>
            {% if appl is not null %}
                <b>{{ 'form.appl.totalCount'|trans }} {{ appl.totalCount }}.</b>
            {% endif %}
            <br><b>{{ 'personList.onList'|trans }} {{ totalPersonCount }}.</b>
            <br><br>
            {% if teamBalance is not null and appl is not null and teamBalance >= appl.totalAmount and totalPersonCount < appl.totalCount %}
                <a href="{{ path('ensp_person_edit', {'teamid': team.id , 'personid': -1}) }}">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i> {{ 'form.person.add'|trans }}
                    </button>
                </a>
                <a href="{{ path('ensp_personGuard_edit', {'teamid': team.id , 'personid': -1}) }}">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i> {{ 'form.person.addGuard'|trans }}
                    </button>
                </a>
            {% endif %}
            <br><br>
            {% if teamBalance is not null and appl is not null and teamBalance >= appl.totalAmount and totalPersonCount == appl.totalCount %}
                <a href="{{ path('ensp_team_print_list', {'teamid': team.id }) }}" target="_blank">
                    <button type="submit" class="btn btn-success">
                        <i class="glyphicon glyphicon-print"></i> {{ 'form.team.print'|trans }}
                    </button>
                </a>
            {% endif %}
            <br><br>
        </div>
    {% endif %}

{% endblock %}

