{% extends "EnspBundle::base.html.twig" %}
{% block title %}Drużyny{% endblock %}
{% block bodyHeader %} {{ team.teamName }} {% endblock %}
{% block bodyDesc %}{% endblock %}
{% trans_default_domain 'EnspBundle' %}
{% set totalPersonCount = 0 %}

{% block body %}
    <p>
        <a href="{{ path('adm_ensp_team_list') }}">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-th-list"></i> {{ 'nav.button.backadmin'|trans }}
            </button>
        </a>
    </p>

    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
            Rejestracja
        </div>
        {% if inv is defined and inv is not null %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
                Faktury
            </div>
        {% else %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
                Faktury
            </div>
        {% endif %}

        {% if appl is defined and appl is not null %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">
                Zgłoszenie
            </div>
        {% else %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                Zgłoszenie
            </div>
        {% endif %}

        {% if appl is defined and appl is not null and teamBalance >= appl.advance %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
                Zaliczka
            </div>
        {% elseif appl is defined and appl is not null and inv is defined and inv is not null %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
                Zaliczka
            </div>
        {% else %}
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">
                Zaliczka
            </div>
        {% endif %}

        {% if appl is defined and appl is not null and teamBalance >= appl.advance %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                Edycja stanu
            </div>
        {% else %}
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%">
                Edycja stanu
            </div>
        {% endif %}

        {% if appl is not null and teamBalance >= appl.totalAmount %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">
                Pełna wpłata
            </div>
        {% elseif appl is defined and appl is not null and teamBalance >= appl.advance %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                Pełna wpłata
            </div>
        {% else %}
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%">
                Pełna wpłata
            </div>
        {% endif %}

        {% if appl is not null and teamBalance >= appl.totalAmount %}
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                Rejestracja osób
            </div>
        {% else %}
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%">
                Rejestracja osób
            </div>
        {% endif %}

        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">
            Zlot
        </div>
    </div>

    {% if app.request.get('msg') == 'updated' %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ 'form.team.updated' | trans }}
        </div>
    {% elseif app.request.get('msg') == 'savedAppl' %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ 'form.appl.saved' | trans | nl2br }}
        </div>
    {% elseif app.request.get('msg') == 'savedInv' %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ 'form.inv.saved' | trans }}
        </div>
    {% endif %}

    {% if team.status == 0 %}
        <div class="alert alert-danger ">
            {{ 'team.info.inactive' | trans }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'form.team.ensign'|trans }}</div>
                <div class="panel-body">
                    {{ team.ensignId }}
                </div>
                <div class="panel-heading">{{ 'form.team.troops'|trans }}</div>
                <div class="panel-body">
                    {{ team.troops }}
                </div>
                <div class="panel-heading">{{ 'form.team.is_grunwaldzka'|trans }}</div>
                <div class="panel-body">
                    {{ team.isGrunwaldzka }}
                </div>
                <div class="panel-heading">{{ 'form.team.created'|trans }}</div>
                <div class="panel-body">
                    {{ team.created|date('Y-m-d H:i:s') }}
                </div>
            </div>

        </div>
        {% if appl is defined and appl is not null %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'form.appl.totalCount'|trans }}</div>
                    <div class="panel-body">
                        {{ appl.totalCount }}
                    </div>
                    <div class="panel-heading">{{ 'form.appl.created'|trans }}</div>
                    <div class="panel-body">
                        {{ appl.created|date('Y-m-d H:i:s') }}
                    </div>
                    <div class="panel-heading">{{ 'form.appl.totalAmount'|trans }}</div>
                    <div class="panel-body">
                        {{ appl.totalAmount }} {{ 'system.currency'|trans }}
                    </div>
                    <div class="panel-heading">{{ 'form.appl.advance'|trans }}</div>
                    <div class="panel-body">
                        {{ appl.advance }} {{ 'system.currency'|trans }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if inv is defined and inv is not null %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'form.inv.fullName'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.fullName }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.street'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.street }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.city'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.city }}
                    </div>
                    <div class="panel-heading">{{ 'form.inv.nip'|trans }}</div>
                    <div class="panel-body">
                        {{ inv.nip }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if owner is defined and owner is not null %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'form.owner.login'|trans }}</div>
                    <div class="panel-body">
                        {{ owner.username }}
                    </div>
                    <div class="panel-heading">{{ 'form.owner.name'|trans }}</div>
                    <div class="panel-body">
                        {{ owner.name }} {{ owner.surname }}
                    </div>
                    <div class="panel-heading">{{ 'form.owner.email'|trans }}</div>
                    <div class="panel-body">
                        {{ owner.email }}
                    </div>
                    <div class="panel-heading">{{ 'form.owner.phone'|trans }}</div>
                    <div class="panel-body">
                        {{ owner.phone }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <h2>{{ 'payments.info'|trans }}</h2>
    <p>
        {% if team.status == 1 %}
            <a href="{{ path('adm_ensp_pay_edit', {'teamid': team.id, 'payid': -1}) }}">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'form.payments.register'|trans }}
                </button>
            </a>
        {% endif %}
    </p>
    {% if payments is defined and payments is not null %}
        {% if teamBalance is not null and teamBalance != 0 %}
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'payments.amount'|trans }}</th>
                    <th>{{ 'payments.date'|trans }}</th>
                    <th>{{ 'warnings'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for pay in payments %}
                    <tr>
                        <td>{{ pay.amount }}</td>
                        <td>{{ pay.PaymentDate|date("d-m-Y") }}</td>
                        <td>{{ pay.information }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <b>{{ 'payments.paymentsSum'|trans }} {{ teamBalance }} zł.</b><br><br><br>
        </div>
            <br><br>
        {% else %}
            <p>{{ 'payments.noPaymentsForTeam'|trans }}</p>
        {% endif %}
    {% endif %}

    {% if persons is not null %}
        <h2>{{ 'personList.info'|trans }}</h2>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'person.nameSurname'|trans }}</th>
                    <th>{{ 'person.pesel'|trans }}</th>
                    <th>{{ 'person.address'|trans }}</th>
                    <th>{{ 'person.notes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.firstName }} {{ person.lastName }}</td>
                        <td>{{ person.pesel }}</td>
                        <td>{{ person.address }}</td>
                        <td>{{ person.notes }}</td>
                    </tr>
                    {% set totalPersonCount = totalPersonCount + 1 %}
                {% endfor %}
                </tbody>
            </table>
            {% if appl is not null %}
                <b>{{ 'form.appl.totalCount'|trans }} {{ appl.totalCount }} </b>
            {% endif %}
            <br><b>Na liście: {{ totalPersonCount }}</b>
        </div>
    {% endif %}
{% endblock %}

