{% extends "EnspBundle::base.html.twig" %}
{% block title %}Rejestracja użytkownika{% endblock %}
{% block bodyHeader %}Rejestracja użytkownika{% endblock %}
{% block bodyDesc %}{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}


{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}
{% endblock body %}
