{% extends "EnspBundle::base.html.twig" %}
{% block title %}Rejestracja użytkownika{% endblock %}
{% block bodyHeader %}Rejestracja użytkownika{% endblock %}
{% block bodyDesc %}{% endblock %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock body %}


