{% extends "EnspBundle::base.html.twig" %}
{% block title %}Zmiana hasła{% endblock %}
{% block bodyHeader %}Zmiana hasła{% endblock %}
{% block bodyDesc %}{% endblock %}

{% block body %}

    {% block fos_user_content %}
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    {% endblock fos_user_content %}

{% endblock body %}


