{% extends "EnspBundle::base.html.twig" %}
{% block title %}Zapomniane hasło{% endblock %}
{% block bodyHeader %}Zapomniane hasło{% endblock %}
{% block bodyDesc %}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
{% endblock body %}
