{% block body %}
    {% block fos_user_content %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                {% trans_default_domain 'FOSUserBundle' %}

                <form class="form-signin" action="{{ path('fos_user_resetting_send_email') }}" method="POST"
                      >
                    <div>
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="username" required="required"/>
                    <br>
                    </div>
                    <div>
                        <input class="btn btn-default" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
                    </div>
                </form>
            </div>
        </div>

    {% endblock fos_user_content %}
{% endblock body %}