{% block body %}
    {% block fos_user_content %}
        <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">


{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-default" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    {% endblock fos_user_content %}
    </div>
</div>
{% endblock body %}