<br>Witaj!
<br>
<br>Informujemy, że zarejestrowaliśmy Twoje zgłoszenie na Zlot Grunwaldzki 2016!
<br>
<br>Twoje zgłoszenie zostało zarejestrowane do: <b>{{ team.teamName }}</b>
<br>
<br>Pamiętaj, aby dokonać wpłaty do <b>30.05.2016</b>r.
<br>
<br>Kwoty wpłaty:
<br><b>Drużyna Kwatermistrzowska</b> - bezpłatnie
<br><b>HSP</b> - 100 zł
<br><b>Recepcja</b> - 100 zł
<br><b>Komendy Gniazd</b> - 100 zł
<br><b>Zespół plastyka</b> - 100 zł
<br><b>Zespół programowy</b> - 100 zł
<br><b>Komenda Zlotu</b> - 100 zł
<br><b>Grund Info</b> - 100 zł
<br><b>Zespół Promocji</b> - 100 zł
<br>
<br>W <b>tytule przelewu</b> należy wpisać ID, służbę oraz nazwisko i imię.
<br>W tym przypadku będzie to <b>{{ person.id }}, {{ team.teamName }}, {{ person.lastName }} {{ person.firstName }}</b>.
<br>Prosimy o przestrzeganie tego wymogu, ułatwi to szybkie księgowanie wpłat.
<br>
<br>Numer konta do wpłat:
<br>ZHP Chorągiew Warmińsko-Mazurska
<br>ul. Kopernika 45, 10-512 Olsztyn
<br>35 2030 0045 1110 0000 0399 0540
<br>
<br>
<br>Pozdrawiamy
<br>Obsługa Systemu Zgłoszeń
<br>Zlot Grunwaldzki 2016
