{% trans_default_domain 'EnspBundle' %}
<br>{{ 'hello'|trans }} {{ person.firstName }}!
<br>{{ 'individual.registrationConfirm'|trans }} {{ 'zg2016'|trans }}!
<br>
<br>{{ 'paymentRemind'|trans|raw }}
<br>
<br>{{ 'paidAmount'|trans|raw }} <b> {{ person.notes }} {{ 'system.currency'|trans }}  </b>
<br>{{ 'individual.paymentTitle'|trans|raw }}
<br>{{ 'form.payments.inThisCase'|trans }} <b>{{ person.id }}, {{ person.lastName }} {{ person.firstName }}</b>.
<br>{{ 'accountTitlePlease'|trans }}
<br>
<br><b>{{ 'form.appl.details'|trans }} :</b>
<br>{{ 'tshirt'|trans }} {{ person.shirtSize }}
<br>{{ 'dinners'|trans }}
<br>{{ 'form.dinner.tuesdayDinner'|trans }}: {% transchoice person.dinner.tuesdayDinner %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.dinner.wednesdayDinner'|trans }}: {% transchoice person.dinner.wednesdayDinner %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.dinner.thursdayDinner'|trans }}: {% transchoice person.dinner.thursdayDinner %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.dinner.fridayDinner'|trans }}: {% transchoice person.dinner.fridayDinner %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.dinner.saturdayDinner'|trans }}: {% transchoice person.dinner.saturdayDinner %} {0} Nie |{1} Tak {% endtranschoice %}
<br>
<br>{{ 'accommodations'|trans }}
<br>{{ 'form.accommodation.MondayTuesday'|trans }}: {% transchoice person.accommodation.MondayTuesday %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.accommodation.TuesdayWednesday'|trans }}: {% transchoice person.accommodation.TuesdayWednesday %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.accommodation.WednesdayThursday'|trans }}: {% transchoice person.accommodation.WednesdayThursday %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.accommodation.ThursdayFriday'|trans }}: {% transchoice person.accommodation.ThursdayFriday %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.accommodation.FridaySaturday'|trans }}: {% transchoice person.accommodation.FridaySaturday %} {0} Nie |{1} Tak {% endtranschoice %}
<br>{{ 'form.accommodation.SaturdaySunday'|trans }}: {% transchoice person.accommodation.SaturdaySunday %} {0} Nie |{1} Tak {% endtranschoice %}
<br>
<br>{{ 'account'|trans|nl2br }}
<br>
<br>{{ 'regards'|trans|nl2br }}
<br>{{ 'zg2016'|trans }}
