<br>Witaj!
<br>
<br>Właśnie zarejestrowaliśmy płatność przypisaną do Twojej Drużyny!
<br>
<br>Szczegóły płatności:
<br>Drużyna: {{ team.teamName }}
<br>Zgłoszonych osób: {{ appl.count }}
<br>Zaliczka: {{ appl.advance }} zł
<br>Cała kwota do wpłaty: {{ appl.totalAmount }} zł
<br>Zarejestrowana kwota wpłaty: {{ payment.amount }} zł
<br>Uwagi: {{ payment.information }}
<br>
<br>
<br>Konto do kolejnych wpłat:
<br>ZHP Chorągiew Warmińsko-Mazurska
<br>ul. Kopernika 45, 10-512 Olsztyn
<br>35 2030 0045 1110 0000 0399 0540
<br>
<br>Terminy wpłat:
<br>30.04.2016r - zaliczka
<br>30.05.2016r - pełna wpłata
<br>
<br>
<br>Pozdrawiamy
<br>Obsługa Systemu Zgłoszeń
<br>Zlot Grunwaldzki 2016
